.header{ 
	box-shadow: 10px 10px 4px 2px #777777;
	-moz-box-shadow: 10px 10px 4px 2px #777777;
    -webkit-box-shadow:10px 10px 4px 2px #777777;
    padding:5pt 0pt 4pt 0pt;
    background-color:#778899;
	filter: alpha(opacity=70);
	-moz-opacity:0.7;       
    -khtml-opacity: 0.7;      
    opacity: 0.7;
	margin:0px 50px 0px 50px;
    border-radius:10px;
    -moz-border-radius:10px;
    font-size:40pt; 
    font-weight:bold;
    color:black;
    text-shadow:4px 4px 4px white;
    text-align: center;
}
        
.resume{
	font-size:14.0pt; 
	margin:0px 50px 0px 50px;
text-align:justify;
}
        
.sectionHeader{
	text-decoration:underline; 
	font-weight:bold;
}
			   
.italics{font-style:italic}
.underline{text-decoration:underline}

body{
	font-family: Verdana, Ariel, Helvetica ;
	background-color:#778899;	
}
	  	  
.Container{	 
	width:1000px;
	margin:0px auto 20px auto;
	padding-bottom: 15px;
	/*height: 3785px;*/
	background-image:url('../images/background.jpg');
	border-radius:10px;
    -moz-border-radius:10px;
}

a:link {color:black;}       /* unvisited link */
a:visited {color:black;}  /* visited link */
a:hover {color:maroon;}       /* mouse over link */
a:active {color:#778899;}   /* selected link */
      